@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(./fonts/roboto/roboto-100.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(./fonts/roboto/roboto-400.woff) format('woff');
}


@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 100;
  src: local('Sansation Light'), local('Sansation-Light'), url(./fonts/sansation/Sansation_Light.ttf) format('ttf');
}